@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300,700&display=swap');
@include foundation-everything;


// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.top-bar {
  border-bottom: 2px solid #735738ad;
}

.menu-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;

  // .second-word {
  //   font-weight: 600;
  //   font-style: italic;
  // }
}