@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.review-rating {
  display: flex;
}

.icon-list {
  list-style: none;
  display: flex;
}

.review-icon {
  height: 15px;
}